@import url("./reset.css");
@import url("./variables/global.css");
@import url("./themes/normal.css");
@import url("./themes/dark.css");

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primery-color);
    height: 100vh;
}

.content-page{
    display: flex;
}

.page-wrapper{
    flex-grow: 1;
    padding: 20px;
}