@import "reset";
@import "variables/global";
@import "variables/indent";
@import "themes/light";
@import "themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    height: 100%;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}
