:root {
    /* Шрифты */

    --font-family: "Bahnschtift", "Courier New", "monospace";
    --font-s: var(--indent14) / var(--indent16) var(--font-family);
    --font-m: var(--indent16) / var(--indent24) var(--font-family);
    --font-l: var(--indent24) / var(--indent32) var(--font-family);
    --font-xl: var(--indent32) / var(--indent40) var(--font-family);
    --font-2xl: var(--indent40) / var(--indent48) var(--font-family);
    --font-2xl: var(--indent48) / var(--indent56) var(--font-family);


    /* Размеры */

    --navbar-height: var(--indent48);

    /* !TODO использовать трансформ/транслейт */
    --sidebar-width: 80px;
    --sidebar-width-collabsed: 300px;

    // z - Индексы
    --modal-z-index: 10;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: rgb(244 80 74);
    --red-dark: #ce0505;
    --color-white: #fff;
    --hover-color: #fafafa;
    --gray-color: #bebebe;
}
