.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.secondary {
    .title {
        color: var(--secondary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--primary-color);
    }
}

.size_14_14 {
    .title {
        font: var(--font-s);
    }

    .text {
        font: var(--font-s);
    }
}

.size_16_14 {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_24_16 {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_32_24 {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_40_32 {
    .title {
        font: var(--font-2xl);
    }

    .text {
        font: var(--font-xl);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
