.About {
    display: block;
    height: 100%;
    width: 100%;
    padding: var(--indent56-x);

    .title,
    .marchText,
    .aprilText {
        margin-bottom: var(--indent24);
    }
    .februaryText,
    .marchText,
    .aprilText {
        flex-basis: 50%;
    }

    .februaryCode,
    .marchCode,
    .aprilCode {
        flex-grow: 1;
    }
    .marchText {
        font: var(--font-l);
        color: var(--primary-color);
        & a {
            color: var(--primary-color);
        }
    }
    .marchCode {
        flex-grow: 1;
    }
    .aprilText {
        // flex-basis: 50%;
    }

    .aprilCode {
        flex-grow: 1;
    }
}
