.Button {
    cursor: pointer;
    color: var(--primary-color);
    box-sizing: content-box;

    & * {
        width: 100%;
        height: 100%;
    }
}

.clear {
    border: none;
    padding: 0;
    background: none;
    outline: none;
}

.some {
    margin-left: 20px;
}

.outline {
    background: var(--secondary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    background-color: red;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    color: var(--primary-color);
}

.backgroundTextBlack {
    background-color: var(--inverted-bg-color);
    color: var(--primary-color);
}

.radius_none {
    border-radius: 0;
}

.radius_s {
    border-radius: var(--indent4);
}

.radius_m {
    border-radius: var(--indent-8);
}

.radius_l {
    border-radius: var(--indent12);
}

.radius_xl {
    border-radius: var(--indent16);
}

.radius_2xl {
    border-radius: var(--indent24);
}

.border_none {
    border: none;
}

.border_1px {
    border: 1px solid var(--inverted-bg-color);
}

.border_2px {
    border: 2px solid var(--inverted-bg-color);
}

.border_4px {
    border: 4px solid var(--inverted-bg-color);
}

.font_s {
    font: var(--font-s);
}

.font_m {
    font: var(--font-m);
}

.font_l {
    font: var(--font-l);
}

.font_xl {
    font: var(--font-xl);
}

.font_2xl {
    font: var(--font-2xl);
}

.size-padding_default {
    width: 100%;
    height: 100%;
}

.size-padding_4_16 {
    padding: var(--size-4-16);
}

.size-padding_8_16 {
    padding: var(--size-8-16);
}

.size-padding_8_24 {
    padding: var(--size-8-24);
}

.size-padding_12_16 {
    padding: var(--size-12-24);
}

.size-padding_16_16 {
    padding: var(--size-16-24);
}

.disabled {
    opacity: 0.5;
}
