.LIST {
    .card {
        margin-bottom: 30px;
    }
    // a:visited > * {
    //     color: #c58af9;
    //     background-color: green
    // }
}

.TILE {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // a:visited > * {
    //     color: #c58af9;
    //     background-color: green
    // }
}
