.ArticleWarningBlockComponent {
    display: block;
    background-color: rgb(184 119 33 / 60%);
    border-radius: var(--indent-8);
    border: 2px solid rgb(184 119 33);
}

.title {
    margin-bottom: 16px;
}

.paragraph {
    margin-top: 8px;
}
