:root,
.dark {
    --bg-color: #161617;
    --inteverted-bg-color: #101010;
    --primary-color: #f9f4f1;
    --secondary-color: #edddd4;
    --inteverted-primary-color: #edddd4;
    --inteverted-secondary-color: #f9f4f1;

    // skeleton
    --skeleton-color: #3b3b3e;
    --skeleton-shadow: #343442;

    // card
    --card-bg: #3b3b3e;
}
