:root, .dark {
    --bg-color: rgb(48 7 84);
    --inteverted-bg-color: rgb(216 181 246);
    --primary-color: rgb(164 107 82);
    --secondary-color: rgb(239 92 92);
    --inteverted-primary-color: rgb(64 197 148);
    --inteverted-secondary-color: rgb(244 240 129);
}
