.app.dark {
    --bg-color: rgb(48 7 84);
    --inteverted-bg-color: rgb(216 181 246);
    --primery-color: rgb(103 88 202);
    --secondary-color:  rgb(88 50 34);
    --inteverted-primery-color: rgb(88 50 34);
    --inteverted-secondary-color: rgb(244 240 129);
}
