:root,
.light {
    --bg-color: rgb(40 61 59);
    --inteverted-bg-color: rgba(6 7 7 85%);
    --primary-color: rgb(237 221 212);
    --secondary-color: rgb(33 88 90);
    --inteverted-primary-color: rgb(164 107 82);
    --inteverted-secondary-color: rgb(244 240 129);

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // card
    --card-bg: #d5d5d7;
}
