:root,
.app.light {
    --bg-color: rgb(216 181 246);
    --inteverted-bg-color: rgb(48 7 84);
    --primery-color: rgb(64, 197, 148);
    --secondary-color: rgb(239 92 92);
    --inteverted-primery-color: rgb(164, 107, 82);
    --inteverted-secondary-color: rgb(244 240 129);
}
