.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs,
.search {
    margin-top: 16px;
    width: fit-content;
    color: var(--primary-color);
}

.search {
    width: 100%;
}
