.Page {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 100;
    transition: all 0.5s;
}

.initedTrigger {
    position: relative;

    .trigger {
        position: absolute;
        bottom: 20%;
        z-index: 100;
        width: 100%;
        height: var(--indent40);
    }
}
