.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inteverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
