.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inteverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--indent24);
    color: var(--secondary-color);
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appName {
    width: var(--sidebar-width);
    margin-left: var(--indent16);

    & p {
        color: var(--inteverted-primary-color);
    }
}
